.ul,
.section {
  width: var(--body-width);
  margin: auto;
  margin-bottom: 200px;
}
.section {
  margin-top: 50px;
}
.section h2 {
  margin-top: 10px;
  margin-bottom: 50px;
}
.section p,
.section h4 {
  margin: 20px 0;
}
.ul {
  animation: fadeIn forwards 1s;
  -webkit-animation: fadeIn forwards 1s;
  -moz-animation: fadeIn forwards 1s;
  -o-animation: fadeIn forwards 1s;
  -ms-animation: fadeIn forwards 1s;
}
@keyframes fadeIn {
  from {
    margin-top: -50px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
